$content-width: 800px;
$main: #e6e6e6;
$font-style: 'Lato', sans-serif;
$font-color: #737373;
$link-color: #000000;
$link-hover-color: $main;
$heading-font: 'Lato', sans-serif;
$heading-font-color: #FFFFFF;
$light: #FFFFFF;
$header:  #bbb8c1;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
